.container {
  display: flex;
  justify-content: center;

  background-color: #c9c8c8;
}

.contentContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1280px;
  height: 100vh;
}
