.container {
  /* max-width: 1280px;
  margin: 0 auto;
  background-color: #fff44f; */
}

.contentContainer {
  max-width: 1280px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
}

.title {
  font-size: 55px;
  text-align: center;

  margin-bottom: 15px;
}

.subTitle {
  font-size: 30px;
  text-align: center;
}

.chartContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}
.imgContainer {
  position: relative;
  width: 500px;
  height: 500px;

  border-radius: 10px;
  overflow: hidden;
}

.bgOne {
  background-color: #fffae0;
}

.bgTwo {
  background-color: #f9f9f9;
}

.bgThree {
  background-color: #fff8f1;
}

.bgFour {
  background-color: #f6fdeb;
}

.listContainer {
  margin-top: 60px;
}
