.container {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.wrapper {
  width: 1280px;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link {
  cursor: pointer;
}

.menu {
  display: none;
}

.nav {
  display: flex-inline;
}

@media (max-width: 767px) {
  .menu {
    display: inline;
  }
  .nav {
    display: none;
  }
}
