.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.searchChannelWrapper {
  display: flex;

  gap: 15px;

  width: 250px;

  align-items: center;

  margin-bottom: 30px;
}

.searchResultWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  margin-top: 50px;
}

.searchItemWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.channelTitle {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.categoryListWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 30px;
  padding: 30px 0;
  min-height: 100px;
}

.channelDeleteWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.categoryViewer {
  padding: 20px;
}

.channelViewer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  gap: 10px;
}
.separator {
  width: 100%;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .channelTitle {
    width: 200px;
  }
}
